# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build and temporary files
/client/dist
/client/build
.DS_Store

# Environment variables (Crucial!)
.env
/server/.env

# Uploaded files
/server/uploads